@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Special Elite', cursive;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

#page-wrapper {
    position: relative;
}